dl,dt,dd,ul,ol,li,p,h1,h2,h3{margin:0; padding:0;}
ul,dl{ list-style:none;}
img{ border:0px;}
a{ text-decoration:none; color:#000000;}
*{
	margin: 0;
	padding: 0;
}
body{
    margin: 0; /* 最好将 body 元素的边距和填充设置为 0 以覆盖不同的浏览器默认值 */
    padding: 0;
    text-align: center;
    margin-left:auto; margin-right:auto;
    
    text-align:left;
	font-size:14px;
	font-family:Microsoft Yahei;
}
.clear{ clear:both;}
.clearfix:after{content:'.'; visibility:hidden; display:block; clear:both; line-height:0;}
.opacity{filter:alpha(opacity=50);       /* IE */ 
          -moz-opacity:0.5;              /* 老版Mozilla */
        -khtml-opacity:0.5;              /* 老版Safari */
              opacity: 0.5;              /* 支持opacity的浏览器*/
		}

.fl{ float: left;}
.fr{ float: right; }