.header {
	width: 100%;
	height: 153px;
	
	background: url(7569195.png) no-repeat center bottom;
	position: relative;
}
.w1100{
	width: 1100px;
	margin: 0 auto;
}
.header .top {
	width: 1100px;
	margin: 0 auto;
	
}

.header .top .logo {
	padding-top: 30px;
	padding-left: 23px;
	display: inline-block;
}

.header .top img.fr{
	
	margin-right: 10px;
}

.topNav ul{
	padding: 3px 8px 13px 8px;
}
.topNav ul li{
	float: left;
	padding: 13px 29px;
	font-size: 18px;
}
.topNav ul.fl li:hover{
	background:url(7569197.png) no-repeat center bottom;
}
.topNav ul.fl .jigou.active{
	background:url(7569197.png) no-repeat center bottom;
}
.topNav .search {
	
	margin-top: 11px;
	margin-right: 10px;
	width: 206px;
	height: 35px;
	line-height: 35px;
	background-color: #f0f0f0;
	padding: 0 15px 0 0;
	border-radius: 20px;
}

.topNav .search .inp {
	width: 170px;
	background-color: #f0f0f0;
	border: none;
	outline: none;
	height: 35px;
	line-height: 35px;
	float: left;
	padding-left: 15px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
}

.topNav .search img {
	vertical-align: middle;
	cursor: pointer;
	float: right;
	margin-top: 9px;
}


.footer {
	background-color: #103289;
	width: 100%;
	
	
}

.footer .lianj {
	border-bottom: 1px solid #1b41a3;
	height: 70px;
	line-height: 70px;
}

.footer .lianj li {
	float: left;
	margin-right: 26px;
	font-size: 16px;
}


.footer .lianj li a {
	color: #FFFFFF;
}

.footer .lianj li b {
	color: #FFFFFF;
	font-size: 18px;
}


#main2{
	margin-top: 20px;
	position: relative;
	width: 195px;
	height: 35px;
	
}
#main2 #content2{
	width: 167px;
	height: 35px;
	line-height: 35px;
	background-color: #001f6d;
	border-radius: 5px;
	padding: 0 13px 0 15px;
	font-size: 14px;
	font-family: MicrosoftYaHei;
	color: #FFFFFF;
	cursor: pointer;
}
#main2 #selectImg2{
	position: absolute;
	top:13px;
	right: 13px;
	cursor: pointer;
	
}
#main2 #selectItem2{
	display: none;
	height: 210px;
	overflow-y: auto;
	overflow-x: auto;
	width: 202px;
	background-color: #001f6d;
	position: absolute;
	bottom: 36px;
}
#main2 #selectItem2 ul{
	list-style: none;
	border: 1px solid #001f6d;
}
#main2 #selectItem2 ul li{
	color: #FFFFFF;
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	cursor: pointer;
	float: none;
	margin: 0;
	font-size: 12px;
}
#main2 #selectItem2 ul li:hover{
	background-color:#103289;
}
#main2 a{
	display: inline-block;
	width: 100%;
	color: #FFFFFF;
}

#main{
	margin-left: 17px;
	margin-top: 20px;
	position: relative;
	width: 195px;
	height: 35px;
	
}
#main #content{
	width: 167px;
	height: 35px;
	line-height: 35px;
	background-color: #001f6d;
	border-radius: 5px;
	padding: 0 13px 0 15px;
	font-size: 14px;
	font-family: MicrosoftYaHei;
	color: #FFFFFF;
	cursor: pointer;
}
#main #selectImg{
	position: absolute;
	top:13px;
	right: 13px;
	cursor: pointer;
}
#main #selectItem{
	display: none;
	height: 210px;
	width: 195px;
	overflow-y: auto;
	overflow-x: auto;
	background-color: #001f6d;
	position: absolute;
	bottom: 36px;
}
#main #selectItem ul{
	list-style: none;
	border: 1px solid #001f6d;
}
#main #selectItem ul li{
	color: #FFFFFF;
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	cursor: pointer;
	float: none;
	margin: 0;
	font-size: 12px;
}
#main #selectItem ul li:hover{
	background-color:#103289;
}
#main a{
	display: inline-block;
	width: 100%;
	color: #FFFFFF;
}
.topNav{
	position: relative;
}
.shadowBox1{
	position: absolute;
	width: 1024px;
	height: 300px;
	background: #f6f6f6;
	
	display: none;
	
	
	top: 66px;
	z-index: 999;
	padding: 38px;
	line-height: 30px;
	
	
	
	z-index: 9999;
}
.shadowBox1 .leftBox{
	width: 563px;
	height: auto;
	border-right: 1px solid #d8d8d8;
}
.shadowBox1 .leftBox label{
	font-size: 16px;
	font-weight: bold;
	margin-right: 20px;
}
.shadowBox1 .leftBox span{
	font-size: 14px;
}
.shadowBox1 .rightBox{
	width: 410px;
	margin-left: 50px;
	
}
.shadowBox1 .rightBox .title span{
	color: #1d51d2;
	font-size: 16px;
	font-weight: bold;
}
.shadowBox1 .rightBox p{
	text-indent: 2em;
	
	
}
.shadowBox1 .rightBox .detail{
	font-size: 12px;
	color: #3b68d8;
	
	
}

.shadowBox2{
	height: 61px;
	position: absolute;
	top: 66px;
	background: #f6f6f6;
	width: 1100px;
	
	display: none;
	
}
.shadowBox2 ul {
	padding: 0;
	margin-left: 405px;
}
.shadowBox2 ul li{
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	padding-left: 10px;
	margin-right: 40px;
	line-height: 61px;
	background: url(7605816.png) no-repeat center left;
}

.shadowBox3{
	height: 61px;
	position: absolute;
	top: 66px;
	background: #f6f6f6;
	display: none;
	width: 1100px;
	
	
}
.shadowBox3 ul {
	padding: 0;
	margin-left: 535px;
}
.shadowBox3 ul li{
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding:0;
	padding-left: 10px;
	margin-right: 40px;
	line-height: 61px;
	background: url(7605816.png) no-repeat center left;
}